@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Titan+One&display=swap");
@font-face {
  font-family: "free";
  src: url(EF_Diary.ttf) format(truetype);
}
/* 전체기능 */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Titan One";
  color: #2f2f2f;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #111, #0e0f19);
}
/* 배경설정! */

/* 별을 감싼 부모 */
.sky {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveStar 240s linear infinite;
}

/* 별 */
.sky .star {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}

/* 별 이동효과 */
@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* 스크롤 숨기기! */
html::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 타이핑 커서 기능! */
h1::after {
  content: "";
  margin-left: 0.6rem;
  border-right: 2px solid rgb(255, 255, 255);
  animation: cursor 0.9s infinite steps(2);
}
@keyframes cursor {
  from {
    border-right: 3px solid #222;
  }
  to {
    border-right: 3px solid rgb(255, 255, 255);
  }
}

/*  */
#mainimg {
  width: 100vw;
  height: 100vh;
}
/* iAm과 me의 부모 div */
#content {
  color: white;
  font-size: 70px;
}
/* iAM div */
#content .iAm {
  padding-top: 100px;
  text-align: center;
  margin-left: 100px;
  height: 20px;
}
/* me div */
#content .me {
  font-family: "free";
  text-align: right;
  margin-right: 100px;
  margin-top: 200px;
  justify-content: right;
  justify-items: right;
  height: 100px;
  font-size: 20px;
}
/* button style */
a {
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
/* 카드 넘기기로 넘어가는 go div */
#go {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin: 0 50%;
  text-align: center;
  width: 30px;
  margin-top: 300px;
  position: relative;
}

/* 최상단으로 이동하는 up버튼 */
.upto {
  display: flex;
  margin-top: 80px;
  margin-left: 90%;
  position: fixed;
  font-size: 25px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* 카드 resume div 설정 */
.resume {
  color: #2f2f2f;
}
.main-content-1 {
  width: 100%;
  height: 300vh;
}

.sticky {
  background-image: none;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sticky-background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

.card-frame {
  position: absolute;
  width: 85vw;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  transform-style: preserve-3d;
  position: relative;
  transform: perspective(100vw) translateX(100vw) rotateY(180deg);
  transition: transform 0.1s;
}

.front,
.back {
  position: absolute;
  width: 90%;
  height: 80%;
  border-radius: 1vw;
  overflow: hidden;
  backface-visibility: hidden;
}

.front {
  font-size: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e0ded7;
}

.back {
  transform: rotateY(180deg);
  font-size: 0.4em;
  text-align: center;
  background-color: #e0ded7;
  background-image: repeating-linear-gradient(
    0deg,
    #3b3a38,
    #3b3a38 33.3%,
    #ffffff00 0px,
    #ffffff00 67%
  );
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .card-frame {
    display: grid;
    height: initial;
    width: initial;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    justify-items: center;
  }

  .card {
    font-size: 20vw;
    width: 35vw;
    height: 50vw;
  }
}
/* 내소개 페이지 */
.myself {
  width: 900px;
  background-color: white;
  border: 1px solid burlywood;
  border-radius: 70px;
  height: 700px;
  margin: 200px auto 100px;
  display: flex;
}

.infobox {
  margin: auto;
}
.info1 {
  float: left;
}

.myimg img {
  display: flex;
  width: 100px;
  margin-top: 10px;
}
.infoMe {
  width: 400px;
  height: 200px;
  background-color: black;
  border-radius: 50px;
  float: left;
  margin-top: 10px;
}
/* 왼쪽 clear를 통한 2/2배치 */
.info1:nth-child(3) {
  clear: left;
}

/* 홀수 자식태그만 적용! */
.info1:nth-child(odd) {
  margin-right: 30px;
}
/* 나의 stack bar설정 */
.stackMain {
  margin-left: 20%;
  padding-top: 70px;
}
.myStack {
  width: 900px;
  height: 700px;
  margin: 200px auto 100px;
  color: white;
}
.stackPer {
  width: 600px;
  float: left;
  margin-right: 100px;
}
.stack {
  width: 900px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}
.stackAll {
  width: 900px;
  margin: auto;
}
.stackMain {
  font-size: 30px;
  margin-bottom: 100px;
}
.stackName {
  width: 150px;
  margin-bottom: 30px;
  margin-top: 0.5em;
  margin-left: 20%;
}
/* 퍼센트 설정 */
.progress {
  background: rgba(248, 245, 78, 0.281);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 30px;
  width: 500px;
  margin-left: 3px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px rgba(255, 255, 255, 0.712);
  border-radius: 100px;
  background: rgb(255, 255, 255);
  height: 30px;
  width: 0;
}

.w3-progress-container {
  width: 100%;
  height: 2em;
  position: relative;
  background-color: #f1f1f1;
}
.w3-progressbar {
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  line-height: inherit;
}
.w3-round-xlarge {
  border-radius: 16px !important;
}

@keyframes load1 {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 80%;
    opacity: 1;
  }
}
@keyframes load2 {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}

@keyframes load3 {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}
.per {
  margin-right: 30px;
}
